body {
  background-color: #121212; 
  
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 helvetica;
    
    /* stop the content from getting so wide */
    max-width: 80vw;

    /* center the content */
    margin: 0 auto;

    /* add some padding */
    padding: 1em;

   }

h1, h2, h3, h4, h5, h6 {
  color: white;
}

p {
  color: orange;
}

section article ul {
  color: orange;
}

nav {
  display: flex;  /* Enables Flexbox */
  background-color: #333; /* Dark background for contrast */
  padding: 10px;
}

/* Style navigation links */
nav a {
  flex: 1; /* Makes each link take up equal space */
  text-align: center; /* Centers the text */
  color: inherit; /* Text color */
  text-decoration: none; /* Removes underline */
  padding: 0.5em; /* Adds spacing */
  font-weight: bold;
  margin-bottom: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(lightness chroma hue);
}

/* Change color on hover */
nav a:hover {
  background-color: #555; /* Darker gray on hover */
}

nav a .currentpage {
  margin-bottom: auto;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: orange;
}