html {
  color-scheme:  dark; 
}

body {
    background-color: Canvas; /* Automatically adapts */
    color: CanvasText;
    font: 100%/1.5 "Trebuchet MS", sans-serif;
    
    /* stop the content from getting so wide */
    max-width: 80vw;

    /* center the content */
    margin: 0 auto;

    /* add some padding */
    padding: 1em;

   }

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  
  font: inherit;
}

.color-scheme select {
  font: inherit;
  display: inline-flex;
  gap: 4px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%; /* 4 times the base font size */
  font-weight: bold; /* Ensures prominence */
  margin-bottom: 0.5em; /* Adds spacing below */
}

h2 {
  font-size: 200%; /* Adjusted for clear hierarchy */
  font-weight: bold;
  margin-top: 1em; /* Adds spacing above */
}

nav {
  display: flex;  /* Enables Flexbox */
  padding: 10px;
  --border-color: oklch(50% 10% 200 / 40%)
}

/* Style navigation links */
nav a {
  flex: 1; /* Makes each link take up equal space */
  text-align: center; /* Centers the text */
  color: orange; /* Text color */
  text-decoration: none; /* Removes underline */
  padding: 0.5em; /* Adds spacing */
  font-weight: bold;
  margin-bottom: auto;
  border-bottom: 1px solid var(--border-color);

  &.currentpage {
    margin-bottom: auto;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgba(216, 216, 216, 0.415);
    background-color: rgba(216, 216, 216, 0.244);
  }
}

/* Change color on hover */
nav a:hover {
  border-bottom: 5px solid var(--color-accent);
  background-color: rgba(216, 216, 216, 0.244);
}

nav a.currentpage {
  border-bottom: 5px solid grey;
}

/* Define the accent color */
:root {
  --color-accent: orange;  /* Adjust the values as needed */
}

/* Apply the accent color */
html {
  accent-color: var(--color-accent);  /* Inherits for form elements like checkboxes */
}

input, textarea, button {
  font: inherit;  /* Inherits font settings from the page */
}

form {
  display: grid;  /* Enables Grid Layout */
  grid-template-columns: auto 1fr;  /* Creates a two-column layout */
  grid-template-columns: subgrid;
}

img {
  max-width: 100%;
  height: auto;
}

/*apply a responsive grid*/
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1rem;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5rem;
}

.projects article h2 {
  margin: 0;
}

.resume {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem
}

/* Article Styling */
article {
  padding: 1em;
  border-radius: 5px;
  background: #9b9b9b76;
}

article ul {
  padding-left: 1.5em;
}

article ul li {
  margin-bottom: 0.5em;
}

/* Download Resume Link */
p a {
  color: #ff9800;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}